.header {
    padding: 16px 0 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header__row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
    /* background-color: #333333da; */
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 15px;
    color: white;
}

.header__logo {
    margin-left: 15px;
    cursor: pointer;
}

.header__text {
    color: white;
    font-size: 20px;
}

.header__btn {
    margin-right: 15px;
    cursor: pointer;
}